footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-container{
    width: 400px;
    padding-bottom: 30px;
}
.footer-container a, p{
    color: white;
}
.footer-container img{
    padding-right: 40px;
}
